* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {

    background-color: rgb(35, 38, 48, 1);
    margin: 0;
    display: flex;
    min-height: 100vh;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    background-color: #2C303D;
    border-right: 1px solid #008F61;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 60px;
}
